<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css" media="screen,projection" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/app.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
  <link rel="icon" type="image/png" href="https://developer.android.com/preview/images/q-logo.png">
  <title><%=pageTitle%></title>
</head>

<body>
  <nav>
    <div class="container">
      <div class="nav-wrapper">
        <a href="/index" class="brand-logo">Questionnaire</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <% if(currentuser && currentuser.type == "faculty"){ %>
          <li><a class="nav-link" href="/new">New Entry</a></li>
          <% } %>
          <% if(!currentuser){ %>
          <li><a href="/login">Login</a></li>
          <li><a href="/studentregister">SignUp</a></li>
          <% } else{ %>
          <li>
            <%if(currentuser.type == "student"){%>
            <a href="/student/<%=currentuser._id %>">User Logged In: <%=currentuser.username %></a>
          </li>
          <% }%>
          <%if(currentuser.type == "faculty"){%>
          <a href="/faculty/<%=currentuser._id %>">User Logged In: <%=currentuser.username %></a>
          </li>
          <% }%>
          <li><a href="/logout">LogOut</a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
  
  <ul class="sidenav" id="mobile-demo">
    <% if(currentuser && currentuser.type == "faculty"){ %>
    <li><a class="nav-link" href="/new">New Entry</a></li>
    <% } %>
    <% if(!currentuser){ %>
    <li><a href="/login">Login</a></li>
    <li><a href="/studentregister">SignUp</a></li>
    <% } else{ %>
    <li>
      <%if(currentuser.type == "student"){%>
      <a href="/student/<%=currentuser._id %>">User Logged In: <%=currentuser.username %></a>
    </li>
    <% }%>
    <%if(currentuser.type == "faculty"){%>
    <a href="/faculty/<%=currentuser._id %>">User Logged In: <%=currentuser.username %></a>
    </li>
    <% }%>
    <li><a href="/logout">LogOut</a></li>
    <% } %>
  </ul>