<% include ./partials/header %>


<% if(currentuser && foundset.creator.equals(currentuser._id)){ %>
<% var countpen = 0 %>
<% var countsub = 0 %>
<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card mystyle">
        <div class="card-content white-text">
          <span class="card-title"><strong><%=foundset.name%></strong></span>
          <p>Created By: <%=foundset.creator.name%></p>
          <p>Created For: <%=foundset.uniqueid.substring(0,3).toUpperCase()%> /
            <%=foundset.uniqueid.substring(3,4).toUpperCase()%> /
            <%=foundset.uniqueid.substring(4,5).toUpperCase()%></p>
          <p>Created on: <%= foundset.created.toDateString() %></p>
          <hr>
          <a class="waves-effect waves-light btn mystylebutton" href="/display/<%=foundset._id%>/edit">Edit</a>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l9">
      <div class="row">
        <div class="col s12 x">
          <ul class="tabs" style="background-color: #4ecca3">
            <li class="tab col s3"><a href="#test2">Delete</a></li>
            <li class="tab col s3"><a href="#test3">View Pending</a></li>
            <li class="tab col s3"><a class="active" href="#test5">View Submitted</a></li>
            <li class="tab col s3"><a href="#test4">Export To CSV</a></li>
          </ul>
        </div>
        <div id="test2" class="col s12" style="padding-top:10px">
          <p class="grey-text text-lighten-5">Do you really want to delete these records? This process cannot be undone.</p>
          <a class="waves-effect waves-light btn modal-trigger mystylebutton red" href="#modal1">Delete</a>
        </div>
        <div id="test5" class="col s12" style="padding-top:10px">
          <!--<hr>-->
          <table id="testTable" class="highlight mystyleother customborder">
            <thead class="">
              <tr>
                <th>#</th>
                <% for(var i=0;i<foundset.question.length ;i++){ %>
                <th><%= foundset.question[i] %></th>
                <% }%>
                <th>Registration No</th>
              </tr>
            </thead>
            <tbody class="">
              <% for(var i=0;i<foundset.answer.length ;i++){ %>
              <tr>
                <th><%=i+1%></th>
                <% for(var j=0;j<foundset.answer[i].answer.length ;j++){ %>
                <td><%= foundset.answer[i].answer[j] %></td>
                <% }%>
                <td><%= foundset.answer[i].registrationno %></td>
              </tr>
              <% countsub = i+1%>
              <% }%>
            </tbody>
          </table>
        </div>
        <div id="test3" class="col s12" style="padding-top:10px">
          <!--<hr>-->
          <table id="pendingTable" class="highlight mystyleother customborder">
            <thead class="">
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Registration No.</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0;i<foundusers.length ;i++){ %>
              <tr>
                <% if(foundusers[i].questionpending.length){ %>
                <% for(var j=0;j<foundusers[i].questionpending.length ;j++){ %>
                <% if(foundset._id.equals(foundusers[i].questionpending[j]._id)){ %>
                <td><%= countpen+1%></td>
                <td><%= foundusers[i].name%></td>
                <td><%= foundusers[i].registrationno%></td>
                <% countpen++%>
                <% }%>
                <% }%>
                <% }%>
              </tr>
              <% }%>
            </tbody>
          </table>
        </div>
        <div id="test4" class="col s12" style="padding-top:10px"><button id="btnExport" class="waves-effect waves-light btn mystylebutton"
            onclick="javascript:xport.toCSV('testTable', '<%=foundset.name%>#<%=foundset.uniqueid%>');">
            Export Submitted</button>
          <button id="btnExport" class="waves-effect waves-light btn mystylebutton"
            onclick="javascript:xport.toCSV('pendingTable', '<%=foundset.name%>#<%=foundset.uniqueid%>PENDING');">
            Export Pending</button>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="card mystyleother customborder">
        <div class="card-content dark-text">
          <span class="card-title">Statistics</span>
        </div>
        <div class="card-action">
          <p class="red-text">Pending: <%=countpen%></p>
          <hr>
          <p class="green-text">Submitted: <%=countsub%></p>
        </div>
      </div>
    </div>
  </div>
</div>
<% countpen = 0 %>
<% countsub = 0 %>
<% }else{ %>
<div class="container">
  <div class="row">
    <div class="col s12 m6 l8">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title"><strong><%=foundset.name%></strong></span>
          <p>Created By: <%=foundset.creator.name%></p>
          <p>Created For: <%=foundset.uniqueid.substring(0,3).toUpperCase()%> /
            <%=foundset.uniqueid.substring(3,4).toUpperCase()%> /
            <%=foundset.uniqueid.substring(4,5).toUpperCase()%></p>
          <p>Created on: <%= foundset.created.toDateString() %></p>
        </div>
      </div>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header green darken-1"><i class="material-icons">filter_drama</i>Submitted Responses
          </div>
          <div class="collapsible-body mystyleother">
            <table id="testTable" class="highlight">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <% for(var i=0;i<foundset.question.length ;i++){ %>
                  <th scope="col"><%= foundset.question[i] %></th>
                  <% }%>
                  <th scope="col">Registration No</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0;i<foundset.answer.length ;i++){ %>
                <tr>
                  <th scope="row"><%=i+1%></th>
                  <% for(var j=0;j<foundset.answer[i].answer.length ;j++){ %>
                  <td><%= foundset.answer[i].answer[j] %></td>
                  <% }%>
                  <td><%= foundset.answer[i].registrationno %></td>
                </tr>
                <% }%>
              </tbody>
            </table>
          </div>
        </li>
        <li>
          <div class="collapsible-header red lighten-1"><i class="material-icons">filter_drama</i>Pending Responses
          </div>
          <div class="collapsible-body mystyleother">
            <hr>
            <table id="pendingTable" class="highlight">
              <thead class="">
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Registration No.</th>
                </tr>
              </thead>
              <tbody>
                <% var count = 0 %>
                <% for(var i=0;i<foundusers.length ;i++){ %>
                <tr>
                  <% if(foundusers[i].questionpending.length){ %>
                  <% for(var j=0;j<foundusers[i].questionpending.length ;j++){ %>
                  <% if(foundset._id.equals(foundusers[i].questionpending[j]._id)){ %>
                  <td><%= count+1%></td>
                  <td><%= foundusers[i].name%></td>
                  <td><%= foundusers[i].registrationno%></td>
                  <% count++%>
                  <% }%>
                  <% }%>
                  <% }%>
                </tr>
                <% }%>
                <% count = 0%>
              </tbody>
            </table>
          </div>
        </li>
      </ul>
    </div>
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwcoy8tQBj_I2vK6G6iq7m2q7PB4KjMGMr7V0XCLo02w4JZv8RrA">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><strong><%=foundset.creator.name%></strong><i
              class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><%=foundset.creator.name%><i
              class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
          <p><strong>Username: </strong><%=foundset.creator.username%></p>
          <p><strong>Registration No: </strong><%=foundset.creator.registrationno%></p>
          <p><strong>Email: </strong><%=foundset.creator.email%></p>
          <p><strong>Phone No: </strong><%=foundset.creator.phone%></p>
        </div>
      </div>
    </div>
  </div>
</div>
<% } %>

<div id="modal1" class="modal">
  <div class="modal-content">
    <h4><%=foundset.name%></h4>
    <hr>
    <p>Are You Sure?</p>
  </div>
  <div class="modal-footer">
    <form action="/display/<%=foundset._id%>?_method=DELETE" method="POST">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
      <button class="btn btn-primary">Confirm</button>
    </form>
  </div>
</div>

<script src="/scripts/table.js"></script>
<% include ./partials/footer %>