<% include ./partials/header %>

<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card animated pulse mystyle">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwcoy8tQBj_I2vK6G6iq7m2q7PB4KjMGMr7V0XCLo02w4JZv8RrA"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title "><%=currentuser.name%></h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item mystyle"><strong>Username: </strong><%=currentuser.username%></li>
                        <li class="list-group-item mystyle"><strong>Registration No: </strong><%=currentuser.registrationno%>
                        </li>
                        <li class="list-group-item mystyle"><strong>Email: </strong><%=currentuser.email%></li>
                        <li class="list-group-item mystyle"><strong>Phone No: </strong><%=currentuser.phone%></li>
                    </ul>
                    <!--<div class="card-body">-->
                    <!--  <a href="#" class="card-link">Card link</a>-->
                    <!--  <a href="#" class="card-link">Another link</a>-->
                    <!--</div>-->
                </div>
                <p></p>
            </div>
            <div class="col-md-8">
                <div class="alert alert-primary animated flash" role="alert">
                    View Question Sets.
                </div>
                    <% for(var i=0;i<founduser.questioncreator.length;i++){%>
                    <div class="card text-center mystyle animated slideInUp delay-<%=i%>s">
                      <div class="card-header mystyleother">
                        Question Set: <%=i+1%>
                      </div>
                      <div class="card-body">
                        <h5 class="card-title"><%=founduser.questioncreator[i].name%></h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">View Set</a>
                      </div>
                      <div class="card-footer text mystyle">
                        Created On: <%=founduser.questioncreator[i].created.toDateString()%>
                      </div>
                    </div>
                    <p></p>
                    <% } %>
                
        </div>
    </div>
</div>
</div>

<% include ./partials/footer %>