<% include ./partials/header %>

<div class="container">
    <div class="row">
        <div class="col s12 m6 l3"></div>
        <div class="col s12 m6 l6 z-depth-1 mystyleother customborder">
            <h3>Feedback</h3>
            <hr>
            <% if(foundset.uniqueid == "public"){%>
            <form action="/display/<%=foundset._id%>/publicfeedback" method="POST" enctype="multipart/form-data">
                <% }else{ %>
                <form action="/display/<%=foundset._id%>/feedback" method="POST" enctype="multipart/form-data">
                    <% } %>
                    <div class="input-field">
                        <h6>Created By: <%=foundset.creator.name%></h6>
                        <h6>Created On: <%=foundset.created.toDateString()%></h6>
                        <h6>Question Set: <%= foundset.name.toUpperCase()%></h6>
                    </div>
                    <hr>
                    <% var count = 0 %>
                    <%    for(var i = 0; i < foundset.question.length; i++){ %>
                    <% if(foundset.key[i] == "date"){%>
                    <div class="input-field col s12">
                        <label for="answer"><%= i+1 %>: <%= foundset.question[i] %></label>
                        <input type="text" name="answer" class="datepicker" id="answer" required>
                    </div>
                    <% }else if(foundset.key[i] == "checkbox"){ %>
                    <p><%=foundset.question[i]%></p>
                    <%for(var j=0;j<foundset.checkoption[count].length;j++){%>
                    <span>
                      <label>
                        <input type="radio" class="with-gap" name="answer<%=count%>" value="<%=foundset.checkoption[count][j]%>" required/>
                        <span><%=foundset.checkoption[count][j]%></span>
                      </label>
                    </span>
                    <% } %>
                    <hr>
                    <% count++ %>
                    <% }else if (foundset.key[i] == "file"){ %>
                    <div class="file-field input-field col s12">
                        <div class="btn mystylebutton">
                            <span><i class="material-icons right">attach_file</i>File</span>
                            <input type="file" name="fileupload" required>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" placeholder=<%=foundset.question[i]%> type="text">
                        </div>
                    </div>
                    <% }else{ %>
                    <div class="input-field col s12">
                        <label for="answer"><%= i+1 %>: <%= foundset.question[i] %></label>
                        <input type=<%=foundset.key[i]%> name="answer" class="validate" id="answer" required>
                    </div>
                    <%    } %>
                    <%    } %>
                    <div class="row">
                        <div class="hide-on-small-only show-on-medium-and-up">
                            <div class="col s12"><button type="submit"
                                    class="col s12 waves-effect waves-light btn mystylebutton green darken-4"><i
                                        class="material-icons">check</i></button></div>
                        </div>
                        <div class="show-on-small hide-on-med-and-up">
                            <div class="col s12"><button type="submit"
                                    class="col s12 waves-effect waves-light btn-large mystylebutton green darken-4"
                                    style="border-radius:100px"><i class="material-icons">check</i></button></div>
                        </div>
                    </div>
                </form>
        </div>
        <div class="col s12 m6 l3"></div>
    </div>
</div>

<% include ./partials/footer %>