<% include ./partials/header %>

<div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 border border-secondary rounded animated pulse mystyle">
            <h3>Edit </h3>
            <hr>
            <form action="/feedback/<%=foundans[0]._id%>?_method=PUT" method="POST">
                <div class="form-group">
                    <h6>Created By: <%=foundqn.creator.name%></h6>
                    <h6>Created On: <%=foundqn.created.toDateString()%></h6>
                    <h6>Question Set: <%= foundqn.name.toUpperCase()%></h6>
                </div>
                <hr>
                <%    for(var i = 0; i < foundqn.question.length; i++){ %>
                <div class="form-group">
                    <label for="question"><%= i+1 %>: <%= foundqn.question[i] %></label>
                    <input type="text" name="Answer[answer]" class="form-control" id="question" placeholder="Type Here" value="<%=foundans[0].answer[i]%>">
                </div>
                <%    } %>
                <button type="submit" class="btn btn-primary">Submit Changes</button>
            </form>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>

<% include ./partials/footer %>