<% include ./partials/header %>

<div class="container">
    <div class="row">
        <% for(var i = 0; i < foundqns.length;i++){ %>
        <div class="col s12 m6 l4 reveal">
            <div class="card mystyle hoverable">
                <div class="card-content white-text">
                    <span class="card-title"><%= foundqns[i].name %><img class="circle right" width="40" height="40" src="<%=foundqns[i].creator.image.imageurl%>"></span>
                    <span></span>
                    <hr>
                    <p>Created By: <%=foundqns[i].creator.name%></p>
                    <p>Created On: <%= foundqns[i].created.toDateString() %></p>
                    <p>Created For:
                        <% if(foundqns[i].uniqueid == "public"){ %>
                        <%=foundqns[i].uniqueid.toUpperCase()%>
                        <% }else{%>
                        <%=foundqns[i].uniqueid.substring(0,3).toUpperCase()%>
                        /<%=foundqns[i].uniqueid.substring(3,4).toUpperCase()%>
                        /<%=foundqns[i].uniqueid.substring(4,5).toUpperCase()%>
                        <% } %></p>
                </div>
                <% if(currentuser.type == "faculty"){%>
                <div class="card-action">
                    <a class="waves-effect waves-light btn mystylebutton pulse"
                        href="/display/<%= foundqns[i]._id%>">Open</a>
                </div>
                <% } %>
            </div>
        </div>
        <% }%>
        <div class="col s12 center">
            <ul class="pagination">
                <% if(index == 0){ %>
                <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
                <% }else{ %>
                <li class="waves-effect"><a href="/index/<%=parseInt(index)-1%>"><i class="material-icons">chevron_left</i></a></li>
                <% } %>
                <% for(var i=0;i<(maxlength)/15;i++){ %>
                <% if(index == i){ %>
                <li class="active"><a href="/index/<%=i%>"><%=i+1%></a></li>
                
                <% }else{ %>
                <li class="waves-effect"><a href="/index/<%=i%>"><%=i+1%></a></li>
                <% } %>
                <% if((maxlength/15)-1 > index){ %>
                <li class="waves-effect"><a href="/index/<%=parseInt(index)+1%>"><i class="material-icons">chevron_right</i></a></li>
                <% }else{ %>
                <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
                <% } } %>
            </ul>
        </div>
    </div>
</div>

<div id="filter" class="modal customborder mystyle">
    <div class="modal-content mystyle white-text">
        <h4>Search</h4>
        <nav style="border-radius:100px">
            <div class="nav-wrapper my" style="border-radius:100px">
                <form action="/search" method="GET">
                    <div class="input-field">
                        <input id="search" type="search" style="border-radius:100px" name="search"
                            placeholder="E.g. CSE/B/4 or CSE/B or CSE" required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
        </nav>
    </div>
</div>
<script>
    ScrollReveal({reset: true }).reveal('.reveal')
</script>
<% include ./partials/footer %>