<% include ./partials/header %>

<div class="container">
  <div class="row">
    <% qns.forEach(function(questionno){ %>
    <div class="col s12 m6 l4">
      <div class="card mystyle hoverable">
        <div class="card-content white-text">
          <span class="card-title"><%= questionno.name %></span>
          <p>Created By: <%=questionno.creator.name%></p>
          <p>Created On: <%= questionno.created.toDateString() %></p>
          <p>Created For:
            <%=questionno.uniqueid.substring(0,3).toUpperCase()%>
            /<%=questionno.uniqueid.substring(3,4).toUpperCase()%>
            /<%=questionno.uniqueid.substring(4,5).toUpperCase()%></p>
        </div>
        <% if(currentuser.type == "faculty"){%>
        <div class="card-action">
          <a class="waves-effect waves-light btn" href="/display/<%= questionno._id%>">Open</a>
        </div>
        <% } %>
      </div>
    </div>
    <% })%>
  </div>
</div>

<% include ./partials/footer %>