<% include ./partials/header %>

<div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 border border-secondary rounded animated pulse mystyle">
            <h3>Student Updation Form</h3>
        <form action="/studentregister" method="POST">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for=" fname">Username:</label>
                    <input type="text" name="username" class="form-control" id=" fname" placeholder="Set Your Username"
                        required value="<%=founduser.username%>">
                </div>
                <div class="form-group col-md-6">
                    <label for=" mname">Name:</label>
                    <input type="text" name="name" class="form-control" id=" mname" placeholder="Enter Your Name"
                        required value="<%=founduser.name%>">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="department">Select Department:</label>
                    <select name="department" class="custom-select" required>
                        <option selected>Department:</option>
                        <option value="cse">CSE</option>
                        <option value="it">IT</option>
                        <option value="cce">CCE</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="section">Select SECTION:</label>
                    <select name="section" class="custom-select" required>
                        <option selected>SECTION:</option>
                        <option value="a">A</option>
                        <option value="b">B</option>
                        <option value="c">C</option>
                        <option value="d">D</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="year">Select Current Year:</label>
                    <select name="year" class="custom-select" required>
                        <option selected>Year:</option>
                        <option value="1">First</option>
                        <option value="2">Second</option>
                        <option value="3">Third</option>
                        <option value="4">Fourth</option>
                    </select>
                </div>
                <!--<div class="form-group col-md-6">-->
                <!--    <label for="registrationno">Registration No:</label>-->
                <!--    <input type="number" name="registrationno" class="form-control" id="registrationno"-->
                <!--        placeholder="Registration Number" required>-->
                <!--</div>-->
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for=" email">Email:</label>
                    <input type="text" name="email" class="form-control" id=" email" placeholder="Enter Your Email"
                        required value="<%=founduser.email%>">
                </div>
                <div class="form-group col-md-6">
                    <label for=" registrationno">Registration No:</label>
                    <input type="number" name="registrationno" class="form-control" id=" registrationno" placeholder="Enter Your Registration No."
                        required value="<%=founduser.registrationno%>">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="gender">Select Gender:</label>
                    <select name="gender" class="custom-select" required>
                        <option selected>Gender:</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
                
                <div class="form-group col-md-6">
                    <label for="phone">Mobile No:</label>
                    <input type="number" name="phone" class="form-control" id="phone" placeholder="Enter Mobile Number"
                        required value="<%=founduser.phone%>">
                </div>
            </div>


            <div class="form-group">
                <label for="inputAddress">Set Password:</label>
                <input type="password" name="password" class="form-control" id="inputAddress" placeholder="Set Password"
                    required>
            </div>
            <div class="form-group">
                <label for="inputAddress2">Confirm Password:</label>
                <input type="password" class="form-control" id="inputAddress2" placeholder="Confirm Password" required>
            </div>
            <!--<div class="form-group">-->
            <!--  <div class="form-check">-->
            <!--    <input class="form-check-input" type="checkbox" id="gridCheck">-->
            <!--    <label class="form-check-label" for="gridCheck">-->
            <!--      Check me out-->
            <!--    </label>-->
            <!--  </div>-->
            <!--</div>-->
            <button type="submit" class="btn btn-primary">Sign Up</button>
            <p></p>
        </form>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
  
<% include ./partials/footer %>